@import '../../styles/pallet.scss' ;


html,body{
    background-color: $page-background-color;
}
.landing-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow:row wrap;
    align-content:baseline ;
    background-color: $page-background-color;
    *{
        transition:all 1s , height 0.5s ease 0.8s;
    }
    .indicator{
        width: 100%;
        height: 20px;
        background-color: $primary-background;
    }
    .indicator.scroll ~ .left{
        transform: scaleX(0);
        height: 0;
    }
    .indicator.scroll ~ .right{
        transform: scaleX(0);
        height: 0;
    }
    .indicator.scroll ~ .content{
        opacity: 1;
        *{
            height: auto;
            overflow-wrap: anywhere;
        }
        display: flex;
        background-color: $page-background-color;
        padding: 45px;
        padding-top: 100px;
        margin: 20px;
        @include screen-max(map-get($grid-breakpoints,'md')){
            margin: 0;
        }
    }
    >.left,>.right{
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        align-content: baseline;
        font-family: 'Roboto Mono', monospace;
        // font-family: 'Nunito Sans', sans-serif;
        font-size:6vw;
        color: $primary-accent;
    }
    >.left{
        transform-origin: left;
        background-color: $primary-color;
        .greet{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: $top-spacing;

        }
        .first-half{
            text-align: right;
            width: 100%;
            align-self: center;
            justify-self: right;
        }
    }
    >.right{
        transform-origin: right;
        background-color: $primary-color;
        .second-half{
            padding-top: $top-spacing;
            align-self: center;
        }
    }
    .content{
        height: 100%;
        width: 100%;
        display: none;
        opacity: 0;
        flex-flow: column;
        padding: 10px;
        .vertical-center{
            justify-content: center;
        }
        .quote{
            align-self: center;
            justify-content: center;
            vertical-align: middle;
        }
        
    }
}
